html,
body {
  padding: 0;
  margin: 0;
  background-color: rgb(14, 16, 17);
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: white;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1 {
  margin: 0;
}

button {
  outline: none;
  border: none;
}
button:active {
  border-style: outset;
  border: none;
  outline: none;
}
