.container {
  margin: 0rem auto;
  max-width: 550px;
}

.title {
  text-align: center;
}

.solid {
  border-top: 1px solid rgb(126, 126, 126);
  max-width: 400px;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
