.gameWrapper {
  max-height: 100vh;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
  border: 2px solid yellow;
}

.title {
  text-align: center;
}

.solid {
  border-top: 1px solid rgb(126, 126, 126);
  width: 70vw;
  max-width: 400px;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }

  .title {
    font-size: 1.2rem;
  }

  .solid {
    margin-top: 3px;
    margin-bottom: 1px;
  }
}
