.wrapper {
  width: 100%;
}

.row {
  display: inline-flex;
  justify-content: center;
  width: 100%;
}

.keyboardKey {
  padding: 1.2rem 0.8rem;
  min-width: 45px;
  border-radius: 3px;
  background-color: rgb(138, 138, 138);
  text-align: center;
  margin: 3px;
  text-transform: uppercase;
  color: rgb(0, 0, 0);
  font-size: large;
  user-select: none;
}

.keyboardKey:active {
  background-color: rgb(158, 158, 158);
}

.guessedPosition {
  background-color: rgb(24, 95, 24);
}

.guessedLetter {
  background-color: rgb(173, 151, 28);
}

.incorrectGuessedLetter {
  background-color: rgb(46, 53, 49);
}
