.wrapper {
  width: 100%;
}

.row {
  display: inline-flex;
  justify-content: center;
  width: 100%;
}

.keyboardKey {
  padding: 1.2rem 0.8rem;
  min-width: 45px;
  border-radius: 3px;
  background-color: rgb(72, 200, 125);
  text-align: center;
  margin: 3px;
  text-transform: uppercase;
  color: rgb(0, 0, 0);
  font-size: large;
}

.keyboardKey:active {
  background-color: rgba(72, 200, 125, 0.8);
}
