.wrapper {
  width: 100vw;
  min-height: 190px;
  border: 4px solid yellow;
}

.row {
  display: inline-flex;
  justify-content: center;
  width: 100%;
}

.keyboardKey {
  padding: 1.2rem 0.4rem;
  min-width: 25px;
  font-size: small;
  border-radius: 3px;
  background-color: #eaeae0;
  text-align: center;
  margin: 3px;
  text-transform: uppercase;
  color: rgb(0, 0, 0);
  user-select: none;
  overflow: hidden;
}

.keyboardKey:active {
  background-color: rgb(158, 158, 158);
}

.correctPosition {
  background-color: var(--main-green);
}

.correctPosition:active {
  background-color: rgb(22, 95, 22);
}

.misplacedChar {
  background-color: var(--main-yellow);
}
.misplacedChar:active {
  background-color: rgb(177, 137, 6);
}

.incorrectChar {
  background-color: rgba(133, 133, 133, 0.787);
}

.incorrectChar:active {
  background-color: rgba(104, 104, 104, 0.87);
}

@media (min-width: 380px) {
  .keyboardKey {
    padding: 1.1rem 0.6rem;
    min-width: 30px;
    font-size: medium;
  }
}

@media (min-width: 550px) {
  .keyboardKey {
    padding: 1.2rem 0.8rem;
    min-width: 45px;
    font-size: large;
  }
}
