.row {
  width: 100%;
  display: inline-flex;
  vertical-align: middle;
}

.letterBox {
  margin: 2px;
  width: 20%;
  min-height: 60px;
  border: 2px solid rgba(126, 126, 126, 0.164);
  text-transform: uppercase;
  text-align: center;
  font-size: 2rem;
  line-height: 50px;
  overflow: hidden;
  user-select: none;
}

.jumpAnimation {
  animation: jump 0.5s ease-in-out forwards;
}

.insideTile {
  width: 100%;
  height: 100%;
}

.win {
  background: rgb(0, 92, 0);
}

.correctPosition {
  background-color: rgb(24, 95, 24);
}

.misplacedLetter {
  background-color: rgb(173, 151, 28);
}

.incorrectLetter {
  background-color: rgb(32, 32, 32);
}

.error > .letterBox {
  animation: shake 0.3s ease-in-out forwards;
}

@keyframes shake {
  0% {
    border: 1px solid rgb(182, 36, 36);
    transform: translateX(-4px);
  }
  25% {
    border: 1px solid rgb(182, 36, 36);
    transform: translateX(4px);
  }
  50% {
    border: 1px solid rgb(182, 36, 36);
    transform: translateX(-4px);
  }
  75% {
    border: 1px solid rgb(182, 36, 36);
    transform: translateX(4px);
  }
  100% {
    transform: translateX(0px);
  }
}

@keyframes jump {
  50% {
    transform: translateY(-6px);
  }
  100% {
    transform: translateY(0px);
  }
}
