.row {
  width: 70vw;
  max-width: 350px;
  vertical-align: middle;
  justify-content: center;
  position: relative;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-column-gap: 2px;
}

.letterBox {
  width: 100%;
  min-height: 20px;
  border: 2px solid #eaeae06b;
  background-color: rgba(128, 128, 128, 0.164);
  text-transform: uppercase;
  text-align: center;
  font-size: 1.4rem;
  line-height: 20px;
  overflow: hidden;
  user-select: none;
  position: relative;
}

.insideTile {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.jumpAnimation {
  animation: jump 0.5s ease-in-out forwards;
}

.win {
  background: var(--main-green);
}

.correctPosition {
  background-color: var(--main-green);
}

.misplacedLetter {
  background-color: var(--main-yellow);
}

.incorrectLetter {
  background-color: rgba(26, 26, 26, 0.541);
}

.error > .letterBox {
  animation: shake 0.3s ease-in-out 0s forwards !important;
}

.exampleRow {
  position: relative;
  display: grid;
  height: 40px;
  grid-template-columns: repeat(5, 40px);
  grid-gap: 2px;
  justify-content: center;
}

@media (min-width: 400px) {
  .exampleRow {
    height: 50px;
    grid-template-columns: repeat(5, 50px);
  }
  .letterBox {
    font-size: 2rem;
  }
  .row {
    width: 80vw;
  }
}

@keyframes shake {
  0% {
    border: 2px solid rgb(182, 36, 36);
    transform: translateX(-4px);
  }
  25% {
    border: 2px solid rgb(182, 36, 36);
    transform: translateX(4px);
  }
  50% {
    border: 2px solid rgb(182, 36, 36);
    transform: translateX(-4px);
  }
  75% {
    border: 2px solid rgb(182, 36, 36);
    transform: translateX(4px);
  }
  100% {
    transform: translateX(0px);
  }
}

@keyframes jump {
  50% {
    transform: translateY(-6px);
  }
  100% {
    transform: translateY(0px);
  }
}
